export AWS_ACCESS_KEY_ID="<YOUR_AWS_ACCESS_KEY_ID>"
export AWS_SECRET_ACCESS_KEY="<YOUR_AWS_SECRET_ACCESS_KEY>"
export TF_VAR_aws_region="<YOUR_AWS_DEFAULT_REGION>"
export TF_VAR_your_ssh_key="<YOUR_SSH_KEY>"